<div class="d-flex flex-column justify-content-center align-items-center gap-3 min-vh-100">
    <button class="rounded-pill border-0" onclick='window.location = "@Url.Action("AddComix", "Admin")";'>
            <span class="display-5 d-flex justify-content-center align-items-center">
                Додати комікс
            </span>
        </button>
        <button class="rounded-pill border-0" onclick='window.location = "@Url.Action("List", "Admin")";'>
        <span class="display-5 d-flex justify-content-center align-items-center">
                Редагувати комікс
            </span>
        </button>
</div>
